/* 
    CSS for HTML Tag elements 
*/
body {
	font-family: "Open Sans";			
	margin:0;
    font-size: 1em;
    line-height: 1.7em;
}
h1, h2, h3 {    
    font-family: "Open Sans Condensed";
}
h1, h2 {
    margin: 1.5em 0 .5em 0;
}
h1 {    
	font-size: 5em;
    line-height: 1em;
    letter-spacing: 3px;
}
h2 {
    font-size: 3em;
    letter-spacing: 4px;
}
h3 { 
    letter-spacing: 3px;
}
nav {
	display:block;
	float:right;
	margin: 10px;			
}
nav a{
	color: orange;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 10px;
    font-weight: normal;
}
div {
	margin: 20px;
}
header {
	overflow: auto;
	width: 100%;
	/*background-color: orange;*/
	border-bottom: 1px solid orange;
}
footer {
	
}
a { font-weight: 900; text-decoration: none; color: #fff; }
p {
    color: #666;
}

div[id^="section-"]::after{
    position: absolute;
    height: 50px; width: 100%;
    background-color: orange;
}
/* 
    Reusable Styles
*/
#banner-text {			
	margin:0;
}
#banner-text h1 {		
	font-weight: normal;
	margin: 0 0 0 10px;
}
.center {
    margin-left: auto; margin-right: auto;
}
.top {
	margin-left: auto; margin-right:auto;
	width:100%;
	/*border-top: 1px solid orange;*/
}
.top a {	
	color: orange;
}

.triangle {
	margin: 0;
	position: relative;	
	background-color: transparent;
	border: 1px solid orange;
	border-bottom-color: transparent;
}
.triangle:after, .triangle:before {
	bottom:100%;
	left:50%;
	content: " ";
	height: 0; width: 0;
	position: absolute;
	border: solid transparent;	
}
.triangle:after {
	border-color: transparent;
	border-bottom-color: white;
	border-width: 9px;
	margin-left: -19px;
}
.triangle:before {
	border-color: transparent;
	border-bottom-color: orange;
	border-width: 10px;
	margin-left: -20px;
}
#location {
	margin-left: 40px;
}
img#farmers-market-logo {
	height: 70px; width: auto;
}
.question-mark-dressing{
    display: inline-block;
    color: #fff;
    font-family: "Roboto";
    border: 2px solid orange;
    background-color: orange;
    border-radius: 100%;
    padding: 0 .25em 0 .5em;
    box-shadow: 0 0 0 2px #fff inset;
}